/* -------------------- web bar -------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/* menu background */
.menu_bg {
    background: black;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

/* menu item center */
.menu_bg nav {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

/* make menu item as row */
nav .destop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

/* menu item decoration */
nav .destop li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* menu item hover */
nav .destop li a:hover {
    text-decoration: underline;
}

/* menu item hover */
.apple_logo_white:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.search_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.ship_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item apple logo white*/
.apple_logo_white {
    background: url('images/apple-logo-white.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item apple logo black*/
.apple_logo_black {
    background: url('images/apple-logo-black.svg');
    display: block;
    background-position: center;
    height: 50px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item search logo */
.search_logo {
    background: url('images/search-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item ship logo */
.ship_logo {
    background: url('images/ship-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

/* size web */
    /* mweb bar */
    @media (max-width: 1000px) {
        .menu_bg nav {
            width: 100%;
            padding: 0 32px;
        }
    } 
    @media (max-width: 1515px) {
        .columnvideo .iphone{
            width: 300px;
            margin-left: 80px;
        }
        .row .columnvideo{
            margin-left: 600px;
        }
        .row .columnchoose {
            margin-left: 50px;
            margin-bottom: 20px;
            width: 95%;
        }
        .columnchoose  .ship a img {
            width: 100px;
            margin-bottom: 20px;
        }
        .learnmore .dialog_shape {
            width: 90%;
        }
        .learnmore .close {
            right: 8%;
        }
        .learnmore .dialog_bg .dialog_shape .img {
            border-radius: 70px;
        }
    }
    @media (max-width: 1200px) {
        .columnvideo .iphone{
            width: 300px;
            margin-left: 80px;
        }
        .row .columnvideo {
            margin-left: 250px;
        }
        .learnmore .dialog_shape {
            width: 80%;
        }
        .learnmore .close {
            right: 14%;
        }
        .learnmore .dialog_bg .dialog_shape .img {
            border-radius: 40px;
        }
    }
    @media (max-width: 800px) {
        .columnvideo .iphone{ 
            width: 200px;
            height: 320px; 
            margin-top: 20px; 
            margin-left: 130px;
        }
        .row .columnvideo .video {
            width: 300px;
            margin-left: 80px;
        }
        .row .columnvideo {
            margin-left: 15px;
        }
        .row .columnchoose {
            margin-left: 20px;
            margin-bottom: 20px;
            width: 95%;
        }
        .columnchoose  .ship a img {
            width: 70px;
            margin-bottom: 10px;
        }
        .learnmore .dialog_shape {
            width: 90%;
            padding-right: 25px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        .learnmore .close {
            right: 12%;
        }
        .learnmore .dialog_bg .dialog_shape .dialog_title {
            font-size: 25px;
        }
        .learnmore .dialog_bg .dialog_shape .img {
            border-radius: 30px;
        }
        .learnmore .dialog_bg .dialog_shape .dialog_title_detail1_2_3 {
            font-size: 18px;
        }
    }

/* --------------------------------------------------- */

/* iphone bg */
.iphone_bg {
    height: 80px;
    width: 100%;
    margin-top: 50px;
    background: #F5F5F7;

    display: flex;
    align-items: center;
}

/* iphone text */
.iphone_bg .text {
    width: 80.5%;
    margin-left: 100px;

    display: flex;
    align-items: center;
}

/* iphone learnmore */
.iphone_bg .learnmore {
    width: 80px;
    margin-right: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: right;
}

/* row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* column img */
.iphone {
    width: 290px; 
    height: 450px; 
    padding-bottom: 50px; 
    margin-top: 50px; 
    margin-left: 90px;
}

/* column video */
.columnvideo {
    float: left;
    height: 100%;
    width: 40%;
    margin-left: 100px;
    margin-top: 30px;
}

/* video side */
.columnvideo .video {
    width: 450px;
    border-radius: 20px;
}

/* column choose */
.columnchoose {
    float: left;
    height: 100%;
    width: 50%;
    margin-left: 50px;
    margin-top: 50px;
}

/* break line */
.line{
    width: 85%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #D9D9D9;
}

/* GB128 bg */
.GB128_bg {
    height: 70px;
    width: 85%;
    fill: transparent;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #4558FF;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/* GB128 text inside left*/
.GB128_bg_text {
    width: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: left;
}

/* GB128 text inside right*/
.GB128_bg_price {
    width: 50%;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

/* GB256 bg */
.GB256_bg {
    height: 70px;
    width: 85%;
    fill: transparent;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #C3C3C3;
    cursor: pointer;

    display: flex;
    align-items: center;
}

/* GB256 text inside left*/
.GB256_bg_text {
    width: 50%;
    margin-left: 20px;

    display: flex;
    justify-content: left;
}

/* GB256 text inside right*/
.GB256_bg_price {
    width: 50%; 
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

/* total */
.total {
    width: 85%;
    height: 50%;
    padding-top: 75px;
 
    display: flex;
}

/* ship */
.ship a img {
    width: 10%;
    border-radius: 40px;
    margin-right: 20px;
    margin-bottom: 50px;

    float: right;
}


/* dialog bg */
.dialog_bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding-top: 130px;
    padding-bottom: 130px;
    overflow: auto;
    cursor: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);
}
  
/* dialog shape */
.dialog_shape {
    width: 50%;
    margin: auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    background: black;
}

/* The Close Button */
.close {
    right: 27%;
    float: right;
    cursor: pointer;
    position: fixed;
}

/* dialog title */
.dialog_title {
    font-size: 30px;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* animate time */
.animate.animateTime {
    animation-duration: 4s;
}

/* slide In */
@keyframes slideInRight {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

/* slide In Right */
.slideInRight {
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}

/* dialog detail */
.dialog_title_detail1_2_3_4 {
    font-size: 25px;
}

/* dialog img */
.img {
    border-radius: 50px;
}

/* line break */
.lines {
    width: 30%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #C3C3C3;
}

/* Bottom text */
.end {
    width: 100%;
    height: fit-content;
    background: #D9D9D9;
    color: black;
    font-size: 18px;
}