/* -------------------- web bar -------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/* menu background */
.menu_bg {
    background: black;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

/* menu item center */
.menu_bg nav {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

/* make menu item as row */
nav .destop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

/* menu item decoration */
nav .destop li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* menu item hover */
nav .destop li a:hover {
    text-decoration: underline;
}

/* menu item hover */
.search_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.ship_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item apple logo white*/
.apple_logo_white {
    background: url('images/apple-logo-white.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FFFFFF;
}
    /* background-color: blue; */
/* menu item apple logo black*/
.apple_logo_black {
    background: url('images/apple-logo-black.svg');
    display: block;
    background-position: center;
    height: 50px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item search logo */
.search_logo {
    background: url('images/search-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item ship logo */
.ship_logo {
    background: url('images/ship-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

/* size web */
    /* mac */
    @media (max-width: 1000px) {
        .menu_bg nav {
            width: 100%;
            padding: 0 32px;
        }
        .product_1 img {
            margin-top: 50px;
            width: 450px;
        }
        .product_2 img {
            margin-top: 80px;
            width: 450px;
        }
        .product_3 center img {
            padding-top: 100px;
            width: 450px;
        }
        .product_3 .apple_logo_black {
            margin-top: 50px;
        }
        .product_4 .ipad {
            padding-top: 150px;
            padding-bottom: 150px;

        }
        .product_5 img {
            width: 300px;
        }
    }

/* --------------------------------------------------- */

/* -------------------- Product 1 -------------------- */
    /* product_1 bg*/
    .product_1 {
        background-color: #FBFBFD;
        margin-top: 60px;
        height: 550px;
        width: 100%;
    }

    center .buy {
        background-color: #4558FF;
        margin-bottom: 20px;
        height: 30px;
        width: 50px;
        border-radius: 25px;
        cursor: pointer;
    }

    center .text_buy {
        color: white;
        padding-top: 7px;
    }

    center .text_buy:hover {
        text-decoration: underline;
    }

/* --------------------------------------------------- */

/* -------------------- Product 2 -------------------- */
    /* product_2 bg*/
    .product_2 {
        background: black;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 550px;
    }

    /* product_2 img center*/
    .product_2 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 32px;
    }
/* --------------------------------------------------- */

/* -------------------- Product 3 -------------------- */
    /* product_3 bg*/
    .product_3 {
        background-color: #F3F3F6;
        height: 550px;
        width: 100%;
    }

    /* product_3 img center*/
    .product_3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 32px;
    }

/* --------------------------------------------------- */

/* -------------------- Product 4 -------------------- */
    /* product_4 bg*/
    .product_4 {
        margin-top: 10px;
        height: 550px;
        width: 100%;
    } 

    /* product_4 img left*/
    .product_4 .ipad {
        float: left;
        height: 550px;
        width: 25%;
        margin-left: 15%;
    }

    /* product_4 text right*/
    .product_4 center {
        float: right;
        height: 550px;
        width: 50%;
    }

    /* product_4 chip img*/
    .box {
        display: inline-flex;
        align-items: center;
    }
     
    /* product_4 chip size*/
    .box img {
        width: 40px;
        height: 40px;
    }
/* --------------------------------------------------- */
/* -------------------- Product 5 -------------------- */
    /* product_5 bg*/
    .product_5 {
        background: black;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 550px;
    }

    /* product_5 img center*/
    .product_5 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0 32px;
    }
/* --------------------------------------------------- */

/* line break */
.line {
    width: 30%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #C3C3C3;
}

/* Bottom text */
.end {
    width: 100%;
    height: fit-content;
    background: #D9D9D9;
    color: black;
    font-size: 18px;
}
