/* -------------------- web bar -------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/* menu background */
.menu_bg {
    background: black;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

/* menu item center */
.menu_bg nav {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

/* make menu item as row */
nav .destop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

/* menu item decoration */
nav .destop li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* menu item hover */
nav .destop li a:hover {
    text-decoration: underline;
}

/* menu item hover */
.apple_logo_white:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.ship_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item apple logo white*/
.apple_logo_white {
    background: url('images/apple-logo-white.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item apple logo black*/
.apple_logo_black {
    background: url('images/apple-logo-black.svg');
    display: block;
    background-position: center;
    height: 50px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item search logo */
.search_logo {
    background: url('images/search-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FFFFFF;
}

/* menu item ship logo */
.ship_logo {
    background: url('images/ship-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
}

/* size web */
    /* mweb bar */
    @media (max-width: 1000px) {
        .menu_bg nav {
            width: 100%;
            padding: 0 32px;
        }
        .row .column1 {
            float: none;
            width: 90%;
            margin-left: 30px;
            margin-top: 80px;
        }
        .row .column1_1 {
            float: none;
            width: 90%;
            margin-left: 30px;
            margin-top: 30px;
        }
        .row .column2 {
            float: none;
            width: 90%;
            margin-left: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .row .column1 img{
            border-radius: 35px;
        }
        .row .column1_1 img{
            border-radius: 35px;
        }
        .row .column2 img{
            border-radius: 35px;
        }
    }

/* --------------------------------------------------- */

/* row 1_1 column item */
.column1_1 {
    float: left;
    width: 30%;
    margin-top: 80px;
    margin-left: 1.7%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    cursor: pointer;
}

/* row 1_1 column item animation */
.column1_1 img{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
    width:100%
}

/* row 1_1 column item hover */
.column1_1:hover img{
    transform: scale(1.05);
    box-shadow: 0px 5px 20px 5px #C1C1C1; 
}

/* row 1 column item */
.column1 {
    float: left;
    width: 30%;
    margin-top: 80px;
    margin-left: 1.7%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    cursor: pointer;
}

/* row 1 column item animation */
.column1 img{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
    width:100%
}

/* row 1 column item hover */
.column1:hover img{
    transform: scale(1.05);
    box-shadow: 0px 5px 20px 5px #C1C1C1; 
}

/* row 2 column item */
.column2 {
    float: left;
    width: 46.5%;
    margin-left: 1.7%;
    margin-right: 1.5%;
    margin-bottom: 1%;
}

/* row 2 column item animation */
.column2 img{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
    width:100%
}

/* row 2 column item hover */
.column2:hover img{
    transform: scale(1.05);
    box-shadow: 0px 5px 20px 5px #989898; 
}

/* row */
.row::after {
    content: "";
    clear: both;
    display: table;
    margin: 1%;
}

/* line break */
.line {
    width: 30%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #C3C3C3;
}

/* Bottom text */
.end {
    width: 100%;
    height: fit-content;
    background: #D9D9D9;
    color: black;
    font-size: 18px;
}