/* -------------------- web bar -------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/* menu background */
.menu_bg {
    background: black;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

/* menu item center */
.menu_bg nav {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 8px;
}

/* make menu item as row */
nav .destop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

/* menu item decoration */
nav .destop li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* menu item hover */
nav .destop li a:hover {
    text-decoration: underline;
}

/* menu item hover */
.apple_logo_white:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item hover */
.search_logo:hover {
    border-bottom: 1px solid #FFFFFF;
}

/* menu item apple logo white*/
.apple_logo_white {
    background: url('images/apple-logo-white.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item apple logo black*/
.apple_logo_black {
    background: url('images/apple-logo-black.svg');
    display: block;
    background-position: center;
    height: 50px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item search logo */
.search_logo {
    background: url('images/search-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 20px;
    background-repeat: no-repeat;
}

/* menu item ship logo */
.ship_logo {
    background: url('images/ship-icon.svg');
    display: block;
    background-position: center;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #FFFFFF;
}

/* size web */
    /* mweb bar */
    @media (max-width: 1000px) {
        .menu_bg nav {
            width: 100%;
            padding: 0 32px;
        }
    }
    @media (max-width: 1515px) {
        .row .column1 {
            float: left;
            width: 98.5%;
        }
        .row .column2 {
            float: left;
            width: 98.5%;
        }
        .row .column3 {
            float: left;
            width: 98.5%;
            margin-top: 0px;
        }
        .row .column1 form img {
            float: right;
            width: 100px;
        }
        .clickcheckout .dialog_shape {
            width: 90%;
        }
        .clickcheckout .close {
            right: 8%;
        }
    }
    @media (max-width: 1200px) {
        .clickcheckout .dialog_shape {
            width: 80%;
        }
        .clickcheckout .close {
            right: 14%;
        }
        .end {
            padding: 20px;
        }
    }
    @media (max-width: 800px) {
        .clickcheckout .dialog_shape {
            width: 90%;
            padding-right: 50px;
            padding-left: 35px;
            padding-bottom: 35px;
        }
        .clickcheckout .close {
            right: 12%;
        }
        .clickcheckout .dialog_bg .dialog_shape .dialog_title {
            font-size: 25px;
        }
        .clickcheckout .dialog_bg .dialog_shape .dialog_title_detail1_2_3 {
            font-size: 18px;
        }
        .clickcheckout .dialog_bg .dialog_shape .left2 {
            margin-left: 15%;
        }
        .end {
            padding: 20px;
        }
    }
/* --------------------------------------------------- */
 
/* text input */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Three equal columns */
.column1 {
    float: left;
    width: 33%;
    padding: 10px;
    margin-left: 7px;
}

.column2 {
    float: left;
    width: 33%;
    padding: 10px;
}

.column3 {
    float: left;
    width: 33%;
    padding: 10px;
    margin-top: 86px;
    margin-right: 7px;
}

/* row name */
.columnname {
    float: left;
}

/* row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* cards img*/
.box {
    align-items: center;
}
    
/* cards img size */
.box img {
    float: right;
    width: 20%;
    height: 20%;
}

/* shipping care bg */
.ship {
    width: 100%;
    height: 290px;
}

/* shipping care row1 */
.columncarepickrow1 {
    float: left;
    width: 40%;
    height: 250px;
    text-align: center;
    margin-left: 15px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* shipping care row2 */
.columncarepickrow2 {
    float: right;
    width: 40%;
    height: 250px;
    text-align: center;
    margin-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* shipping care bg line */
.columncarepickrowline {
    float: left;
    width: 10%;
    height: 100%;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.columncarepickrowline .columncarepickrowline1 {
    width: 2px;
    height: 230px;
    background: #C3C3C3;
}

/* shipping care pick icon */
    /* shipping care border */
    .columncarepick {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 40px;
        fill: transparent;
        border: 4px solid #C3C3C3;
        cursor: pointer;

        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    /* shipping care fill */
    .columncarepick .columncarepick1_2 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #C3C3C3;
    }

/* qty */
.added {
    width: 100%;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* qty add */
.add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    background: #BBB5A9;
    padding-bottom: 3px;
    margin-left: 100px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* qty remove */
.remove {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    background: #BBB5A9;
    padding-bottom: 4px;
    margin-right: 100px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* color bg */
.columncolorpickbg {
    float: left;
    width: 25%;
    height: auto;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* color pick icon "Natural_Titanium" */
    /* color border */
    .columncolorpickbg .columncolorpicknatural {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        fill: transparent;
        border: 4px solid #BBB5A9;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* color fill */
    .columncolorpicknatural .columncolorpicknaturaltitanium {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #BBB5A9;
    }

/* color pick icon "Blue_Titanium" */
    /* color border */
    .columncolorpickbg .columncolorpickblue {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        fill: transparent;
        border: 4px solid #49525F;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* color fill */
    .columncolorpickblue .columncolorpickbluetitanium {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
    }

/* color pick icon "White_Titanium" */
    /* color border */
    .columncolorpickbg .columncolorpickwhite {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        fill: transparent;
        border: 4px solid #edebe0;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* color fill */
    .columncolorpickwhite .columncolorpickwhitetitanium {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
    }

/* color pick icon "Black_Titanium" */
    /* color border */
    .columncolorpickbg .columncolorpickblack {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        fill: transparent;
        border: 4px solid #47484A;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* color fill */
    .columncolorpickblack .columncolorpickblacktitanium {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ffffff;
    }

/* Break line */
.line{
    width: 100%;
    height: 3px;
    margin-top: 20px;
    background: #D9D9D9;
}

/* amount info bg */
.amount_info {
    width: 100%;
    height: 50%; 
    margin-top: 20px;
}

/* amount info sub ship total */
.amount_info_sub_ship_total {
    float: right;
}

/* checkout */
.checkout {
    float: right;
    color: #47484A;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* checkout bottom */
.clickcheckout {
    float: right;
    height: 35px;
    width: 130px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #FAFAFA;
    cursor: pointer;

    display: flex;;
    justify-content: center;
    align-items: center;
}

/* dialog bg */
.dialog_bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    padding-top: 130px;
    padding-bottom: 130px;
    overflow: auto;
    cursor: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.4);
}
  
/* dialog shape */
.dialog_shape {
    width: 50%;
    margin: auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    background: #D9D9D9;
}

/* dialog title */
.dialog_title {
    font-size: 25px;
    color: black;
}

/* dialog detail */
.dialog_title_detail1 {
    font-size: 15px;
    color: black;
}

/* The Close Button */
.close {
    right: 27%;
    float: right;
    cursor: pointer;
    position: fixed;
}

/* Bottom text */
.end {
    max-width: 100%;
    height: 100px;
    background: #D9D9D9;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* line break gray*/
.line {
    width: 30%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #C3C3C3;
}

/* line break black*/
.line_black {
    width: 100%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #000000;
}

/* Bottom texts */
.ends {
    width: 100%;
    height: fit-content;
    background: #D9D9D9;
    color: black;
    font-size: 18px;
}

/* Text Left 1 */
.left1 {
    text-align: left;
    color: black;
    font-size: 18px;
}

/* Text Left 2 */
.left2 {
    text-align: left;
    color: black;
    margin-left: 50%;
    font-size: 18px;
}

/* Text Right */
.right {
    float: right;
    color: black;
    font-size: 18px;
}

.button {
    border: none;
    color: white;
    padding: 8.5px 22px;
    border-radius: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
